<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/_MG_3238.jpg" alt="foto de perfil"
class="img-fluid" id= "fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p>Jesica Mosse</p>
    <p>Estudiante de Desarrollo Web Full Stack Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi</h1>
      <p>Estoy estudiando Desarrollo Web hace un año,soy responsable,
        me gustaria trabajar en el futuro remotamente.
      </p>
    </span>
  </div>
</div>
