<div class="row">
  <h1>Experiencia laboral</h1>
      <div class="col-lg-1"></div>
      <div class="col-lg-11">
        <ul>
         <li>
            <h1>Trabajo </h1>
            <p>  Lorem ipsum dolor,
                 sit amet consectetur adipisicing
                 elit. Voluptates accusantium impedit
                 dicta at debitis, inventore
                 exercitationem
                 maxime adipisci nihil odio et,
                  accusamus iste sint corrupti
                 odit quae amet alias
                  blanditiis!
            </p>
          </li>
        </ul>
      </div>
</div>

